.tabs-md .tab-button[aria-selected=true] .tab-button-icon, .tabs-md .tab-button[aria-selected=true]{
    color: #b34b3a;
    font-weight: bold;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon,
.tabs-ios .tab-button:hover:not(.disable-hover), .tabs-ios .tab-button[aria-selected=true]{
    color: #b34b3a;
    font-weight: bold;
}

.tabs-md .tab-button-text, .tabs-ios .tab-button-text{
    font-size: 1.4rem;
}