page-all-tasks {
    table{
        width: 100%;
        thead{
            background: #ea654f;
        }
        tr{
            th, td{
                text-align: center;
                &:first-of-type{
                    width: 25%;
                    text-align: center;
                }
                &:nth-of-type(2){
                    width: 30%;
                    text-align: center;
                }
                &:last-of-type{
                    text-align: center;
                }
            }
            th{
                color: #fff;
                font-weight: 400;
                text-transform: uppercase;
                padding: 30px 5px;
                a{
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                }
                div.box-icon-filtro{
                    position: relative;
                    display: inline;
                    margin-left: 7px;
                    ion-icon{
                        position: absolute;
                        font-weight: 400;
                        &:last-of-type{
                            right: 0;
                            top: 0;
                        }
                    }
                }
                a.filtro-ativo{
                    font-weight: bolder;
                    ion-icon{
                        font-weight: bolder;
                    }
                }
            }
            td{
                padding: 10px;
                color: #727272;
                div.circulo-data{
                    display: inline-block;
                    border-radius: 50%;
                    padding: 5px 0px;
                    width: 80px;
                    height: 80px;
                    color: #fff;
                    background: #727272;
                    span{
                        display: block;
                        &:nth-of-type(2){
                            font-size: 33px;
                            font-weight: bold;
                        }
                    }
                }
                .tarefa-feita{
                    background: #98aa35 !important;
                }
                .tarefa-atrasada{
                    background: #ea654f !important;
                }
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid #efefef;
            }
        }
    }
}
