<ion-header>
  <ion-navbar>
    <ion-title>Tarefas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <table>
    <thead>
      <tr>
        <th (click)="filtroPorFeito()">
          <a href="#" [ngClass]="{'filtro-ativo': tipoFiltro == 'feito'}">
            Feito 
            <div class="box-icon-filtro">
                <ion-icon name="ios-arrow-round-down-outline"></ion-icon >
                <ion-icon name="ios-arrow-round-up-outline"></ion-icon>
            </div>
          </a>
        </th>
        <th (click)="filtroPorPrazo()">
          <a href="#" [ngClass]="{'filtro-ativo': tipoFiltro == 'prazo'}">
            Prazo
            <div class="box-icon-filtro">
              <ion-icon name="ios-arrow-round-down-outline"></ion-icon >
              <ion-icon name="ios-arrow-round-up-outline"></ion-icon>
            </div>
          </a>
        </th>
        <th>Tarefa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td><ion-checkbox [checked]="task.status"></ion-checkbox></td>
        <td>
          <div></div>
          <ng-container *ngIf="verificaDataAtrasada(task.data, task.status); else elseTemplate">
            <div class="circulo-data tarefa-atrasada">
              <span>{{ encontraMes(encontraData(this.task.data)[1]) }}</span>
              <span>{{ encontraData(this.task.data)[0] }}</span>
              <span>2017</span>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="circulo-data" [ngClass]="{'tarefa-feita': task.status}">
              <span>{{ encontraMes(encontraData(this.task.data)[1]) }}</span>
              <span>{{ encontraData(this.task.data)[0] }}</span>
              <span>2017</span>
            </div>
          </ng-template>
          
        </td>
        <td [ngClass]="{'line-through': task.status}">{{ task.nome }}</td>
      </tr>
    </tbody>
  </table>
</ion-content>
