$bg-vermelho : #ea654f;
$bg-cinza : #727272;
$bg-verde : #98aa35;
$bg-amarelo : #efc800;
page-all-tasks {
    table{
        width: 100%;
        thead{
            background: darken($bg-vermelho, 10%);
        }
        tr{
            th, td{
                text-align: center;
                &:first-of-type{
                    width: 25%;
                    text-align: center;
                }
                &:nth-of-type(2){
                    width: 30%;
                    text-align: center;
                }
                &:last-of-type{
                    text-align: center;
                }
            }
            th{
                color: #fff;
                font-weight: 400;
                text-transform: uppercase;
                padding: 30px 5px;
                a{
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                }
                div.box-icon-filtro{
                    position: relative;
                    display: inline;
                    margin-left: 7px;
                    ion-icon{
                        position: absolute;
                        font-weight: 400;
                        &:last-of-type{
                            right: 0;
                            top: 0;
                        }
                    }
                }
                a.filtro-ativo{
                    font-weight: bolder;
                    ion-icon{
                        font-weight: bolder;
                    }
                }
            }
            td{
                padding: 10px;
                color: #727272;
                .circulo-data{
                    display: inline-block;
                    border-radius: 50%;
                    width: 90px;
                    height: 90px;
                    color: #fff;
                    background: $bg-verde;
                    padding: 10px 5px;
                    span{
                        text-transform: uppercase;
                        font-size: 1.4rem;
                        font-weight: 100;
                    }
                    .dia, .mes{
                        float: left;
                        width: 100%;
                    }
                    .dia{
                        span{
                            border: 2px solid lighten($bg-verde, 20%);
                            background: darken($bg-verde, 10%);
                            border-radius: 50%;
                            padding: 4px 5px;
                            font-size: 1.4rem;
                            margin-top: 3px;
                        }
                    }
                    div.container-hora{
                        float: left;
                        width: 100%;
                        margin: 5px 0px 0px;
                        span{
                            font-weight: 900;
                        }
                        span:not(:nth-of-type(2)){
                            display: inline-block;
                            font-size: 2.6rem;
                        }

                    }
                }
                .tarefa-feita{
                    background: $bg-cinza !important;
                    .dia{
                        span{
                            border: 2px solid lighten($bg-cinza, 20%) !important;
                            background: darken($bg-cinza, 10%) !important;
                        }
                    }
                }
                .tarefa-atrasada{
                    background: $bg-vermelho !important;
                    .dia{
                        span{
                            border: 2px solid lighten($bg-vermelho, 20%) !important;
                            background: darken($bg-vermelho, 10%) !important;
                        }
                    }
                }
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid #efefef;
            }
        }
    }
}
.line-through{
    text-decoration: line-through;
}

.checkbox-md.checkbox-disabled, .item-md.item-checkbox-disabled, .checkbox-ios.checkbox-disabled, .item-ios.item-checkbox-disabled{
    opacity: 1;
}

.finalizada, .atrasada, .atencao{
    font-size: 30px;
}

.finalizada{

}

.atrasada{
    color: $bg-vermelho;
}

.atencao{
    color: $bg-amarelo;
}